.ingredientTitle {
  text-align: center;
}

.ingredientInfo {
  display: flex;
  align-self: stretch;
  text-align: center;
  column-gap: 20px;
  color: #8585AD;
}

.ingredientInfo > span {
  flex: 1 1 25%;
}