.tabs {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: block;
  overflow-y: auto;
  flex-grow: 1;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  position: relative;
  flex: 0 1 50%;
  text-align: center;
  margin-bottom: 32px;
}

.img {
  display: flex;
  justify-content: center;
}

.cost {
  text-align: center;
}

.costIcon {
  display: inline-block;
  height: 1.5em;
  vertical-align: bottom;
}