.tabs {
  display: flex;
  flex-direction: row;
}

.wrapper {
  display: block;
  overflow-y: auto;
  flex-grow: 1;
}

.cardWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}